<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    <script src="../layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="../jquery.min.js"></script>
</head>
<script th:inline="javascript">
   /* $(window).onload(function () {
        fun();
    })*/
 /* window.onload=function(){
   fun()
   }*/

 /*  function fun() {
        var Free = '[[${Free}]]';
        var Used = '[[${Used}]]';
        var Total = '[[${Total}]]';
        var Space = '[[${Space}]]';
        var free = JSON.parse(Free);
        var used = JSON.parse(Used);
        var total = JSON.parse(Total);
        var space = JSON.parse(Space);
       var totalGB = bytesToMBSize(total.value);
       $("#total").text(totalGB+"MB");

       var usedGB = bytesToMBSize(used.value);

       $("#used").text(usedGB+"MB");

/!*       $("#free").attr("lay-percent",free)*!/

    }*/

    //时间戳转换
 /*   function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = (date.getDate() < 10 ? '0'+date.getDate() : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0'+date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() < 10 ? '0'+date.getSeconds() : date.getSeconds());
        return h+m+s;
    }
    function dayTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var year = date.getFullYear() + '-';
        var month = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var day = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
        return year + month + day;
    }

    function bytesToMBSize(bytes) {
        if (bytes === 0)
            return '0';
        var k = 1024;
        var mb = bytes/k/k;   //转化为MB
      /!*  return mb.toFixed(2);*!///保留2位小数
        return mb.toFixed(2);//保留2位小数
    }
*/


</script>
<body>


<br>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>动态磁盘变化进度</legend>
</fieldset>
<div>
<div>磁盘名字：<strong th:text="${item}">wode</strong>
    磁盘总量：<strong  id="total" th:text="${Total}">wode</strong></div>
<strong> 磁盘使用百分比:</strong>
<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo" style="width: 500px">
   <div id="free" class="layui-progress-bar layui-bg-red" th:lay-percent="${Space}" ></div>
</div>
<div>磁盘使用量：<strong id="used" th:text="${Used}">wode</strong> 磁盘剩余量： <strong  th:text="${Free}">wode</strong></div>
</div>
<!--
<div class="site-demo-button" style="margin-top: 20px; margin-bottom: 0;">
    <button class="layui-btn site-demo-active" data-type="setPercent">设置50%</button>
    <button class="layui-btn site-demo-active" data-type="loading">模拟loading</button>
</div>
-->

<!-- 示例-970 -->
<ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use('element', function(){
        var $ = layui.jquery;
         var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        //触发事件
        var active = {
            setPercent: function(){
                //设置50%进度
                element.progress('demo', '50%')
            }
            ,loading: function(othis){
                var DISABLED = 'layui-btn-disabled';
                if(othis.hasClass(DISABLED)) return;

                //模拟loading
                var n = 0, timer = setInterval(function(){
                    n = n + Math.random()*10|0;
                    if(n>100){
                        n = 100;
                        clearInterval(timer);
                        othis.removeClass(DISABLED);
                    }
                    element.progress('demo', n+'%');
                }, 300+Math.random()*1000);

                othis.addClass(DISABLED);
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = $(this).data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
</script>

</body>
</html>